<form>
    First name:<br>
    <input type="text" name="firstname" value="Mickey">
    <br>
    Last name:<br>
    <input type="text" name="lastname" value="Mouse">
    <br><br>

    Email:<br>
    <input type="text" name="email" value="example@42.com">
    <br>

    Phone Number:<br>
    <input type="text" name="phoneNumber" value="+36211235813">
    <br>
    First name:<br>
    <input type="text" name="firstname" value="Mickey">
    <br>
    Billing Address (Country, City, Zipcode, Address)<br>
    Shipping Address (Country, City, Zipcode, Address)<br>


    <input type="submit" value="Submit">
</form>